<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Last Path</title>

    <!--LEAFLET PACKAGES FOR MAP CREATION-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

   <!--ROUTING PACKAGES-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

     <!--STYLE-->
    <link rel=stylesheet href="{{ url_for('static', filename='css/styleLastPath.css') }}"> ">

</head>

<body>
    <!--NAVBAR-->
    <div id='navbar'>
        <li><a href="\">Home</a></li>
        <li><a href="\TrackingMap" style="float: right;">Back</a></li>

    </div>
    <!--CHECK BUTTON-->
    <button style="margin: 350px 0px 0px 150px; font-size: 15px;" id="selectButton">Check</button>


    <script>

        let waypoint_list = [];
        var latitude, longitude;
        
        //this variable takes the choosen path file route.
        var fetchroute;

        var map, layer, route;


        var Npaths = "{{Npaths}}";
        Npaths = Number(Npaths);

        //stores the selection button.
        var button = document.getElementById('selectButton');

        //div for the map
        const divmap = document.createElement('div');
        divmap.id = 'map';

        //creates the selection element with the corresponding option 0.
        var select = document.createElement('select');
        select.id= "select";
        select.style = "margin: 300px 0px 0px 95px; font-size: 23px;"

        var option = document.createElement('option');
        option.value = "0";
        option.text = "Choose a Path";
        select.appendChild(option);


        //depending on the number paths, the number of options will change thanks to this loop.
        for (var i = 1; i < Npaths+1; i++) {
            var optioni = document.createElement("option");
            optioni.value = `${i}`;
            optioni.text = `Path ${i}`;
            select.appendChild(optioni);
        }

        //now we can show the paths availables. 
        document.body.appendChild(select);

       

        button.addEventListener('click', () => {
            
            //option 0 is just a text.
            if (Number(select.value) == 0){
                alert('Please select a path');
            } else {

                //if we have already seen a path, we can check another one, but first we have to clean the map.
                if (map!=undefined){
                    map.remove();
                }
            //we set the path file route according to the selection of the user
            fetchroute = "{{ url_for('static', filename='txt/coords0.txt') }} ".replace("0",select.value);
            //then we append the division
            document.body.appendChild(divmap);
            console.log("opening path ", select.value);
            //finally, we change the position of the selection buttons to the bottom of the page.
            select.style = "margin-top:700px; font-size: 18px;"
            button.style = "margin-top:700px; margin-left:200px; font-size: 18px;"
            
            lastpath();
            }
        });

        

        
        //this function creates the map
        function lastpath() {

            map = L.map('map').setView([54.9058396, 23.963971], 15);
            layer = L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=IWiZp7L76Kmhtju5zNNZ', {
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
            });
            layer.addTo(map);
            //routing object
            route = L.Routing.control({
            }).addTo(map);

            waypoints();

        }

        //On the other hand, the waypoints are set by this other function
        function waypoints() {

            //acces to the specified route
            fetch(fetchroute)
                .then(response => response.text())
                .then(coords => {

                    //The coordinates will be added into a list of elements.
                    //However, some characters must be eliminated beforehand
                    coords = coords.replace(/\n/g, "").split("\r");
                    

                    
                    for (i = 1; i < coords.length; i++) {

                        //in order to parse the object, single quotes should be replaced by double quotes
                        //otherwhise the console will throw and error
                        var coordsReady = coords[i].replace(/'/g, '"');
                        coordsReady = JSON.parse(coordsReady);
                        latitude = coordsReady.Lat;
                        longitude = coordsReady.Lng;

                        var waypoint = new L.latLng(latitude, longitude);
                        waypoint_list.push(waypoint);
                        //console.log(waypoint_list);
                    }

                    //now, we are ready to place the waypoints on the map and check the route.
                    route.setWaypoints(waypoint_list);

                });

        }


    </script>
</body>

</html>