<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Tracking </title>
    
    <!--LEAFLET PACKAGES FOR MAP CREATION-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

    <!--PACKAGE TO MAKE AJAX REQUESTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <!--STYLE-->
    <link rel=stylesheet href="{{ url_for('static', filename='css/styleMap.css') }}">

</head>

<body>
    <!--HEADER-->
    <div id="div">
        <center>
            <h1 style="  font-weight: 400; margin-bottom: 0px; color: #dff4ff; font-family: Arial, Helvetica, sans-serif;">TRACKING MAP</h1>
        </center>
    </div>
    <!--NAVBAR-->
    <div id="navbar2">
        <li><a href="\">Home</a></li>
    </div>
    <!--THE MAP MUST BE PLACED IN A DIV-->
    <div id="map"></div>
    <br>
    <!--SOME TEXT BOXES TO DISPLAY THE LATITUDE, LONGITUDE AND ACCURACY-->
    <p id="lat"></p>
    <p id="long"></p>
    <p id="acc"></p>

    <!--RECORD BUTTON-->
    <button id="record">Record</button>
    <script>

        var latitude, longitude, accuracy;
        var lastLat = 0;
        var lastLong = 0;
        var map;
        var recording = 0;
        var loopUpdateLocation;

        
        var record = document.getElementById('record');

        //the button to save the path is created
        var save = document.createElement('button');
        save.type = 'button';
        save.style = ' float:left; '
        save.id = 'save'
        save.innerText = 'Save';


        //the link of the page to check the last path won't be created unless there's a path to check
        //for that reason we create the element in js in order to add it to the navbar later
        var navbar = document.getElementById('navbar2');
        var li = document.createElement('li');

        li.innerHTML = '<a id="lastpath" style="float:left;" href="\LastPath">Check Last Path</a>';



        //if we click on record, the text will change to pause and we will start sending
        //the coordinates to Python. The save button will also be added 
        //if we click on pause, the text will change to continue and we will stop sending
        //the coordinates to Python.
        //if we click on continue, we will go back to the first situation

        record.addEventListener('click', function () {

            if (record.innerHTML == 'Record') {
                record.innerHTML = 'Pause';
                recording = 1;
                UpdateLocation();

                document.body.appendChild(save);

            } else if (record.innerHTML == 'Pause') {
                record.innerHTML = 'Continue';
                clearTimeout(loopUpdateLocation);

            } else if (record.innerHTML == 'Continue') {
                record.innerHTML = 'Pause';
                UpdateLocation();
            }
        })

        //if the save button is clicked, we will send a signal to Python
        //to stop recording the positions and be prepared for writing in
        //another file if the user wants to record again
        //the save button is removed, as it is no longer needed
    
        save.addEventListener('click', function () {

            save.remove();
            recording = 0;
            record.innerHTML = 'Record';
            $.ajax({ //MAKES AN AJAX REQUEST
                url: "/save", //TO "/save"
                type: "POST", 
                data: { save: 1 },

            });
            navbar.appendChild(li);
            clearTimeout(loopUpdateLocation);
        })


        GPS();

        function GPS() {
            //first, we will check if your browser supports geolocation. Then, if everything its okay
            //we must define another two functions, one to take the coordinates and another to handle the errors
            if (navigator.geolocation) {

                navigator.geolocation.getCurrentPosition(showLocation, errorHandler);

            }
            else {
                alert("Your browser not support");

            }

            //we will repate this process every 0.2 seconds
            window.setTimeout(GPS, 200);
        }

        //getCurrentPosition will pass the coordinates object to position
        //from position we will take just latitude, longitude and accuracy
        function showLocation(position) {

            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
            accuracy = position.coords.accuracy;


            console.log(latitude, " , ", longitude);

            //now that we have the coordiantes we can create the map, but it can't be created multiple
            //times, otherwise we will get an error 
            //we must set some initial coordinates, the zoom and the layer
            //this layer links corresponds to the map that we are using, but there are many others in https://leafletjs.com/ 
            if (map == undefined) {
                map = L.map('map').setView([latitude, longitude], 17);
                var layer = L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=IWiZp7L76Kmhtju5zNNZ', {
                    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                });
                layer.addTo(map);
            }
            //the markers will be added only if we are recording and the coordinates changes
            if (latitude != lastLat && longitude != lastLong && recording == 1) {
                var mark = L.marker([latitude, longitude]).addTo(map);
            }

            var plat = document.getElementById("lat");
            var plong = document.getElementById("long");
            var pacc = document.getElementById("acc");
            plat.innerHTML = `Latitude: ${latitude}`
            plong.innerHTML = `Longitude: ${longitude}`
            pacc.innerHTML = `Accuracy: ${accuracy}`
            lastLat = latitude;
            lastLong = longitude;
        }

        function errorHandler(err) {
            if (err.code == 1) {
                alert("Error: Access is denied!");
                button.innerText = `Error: Access is denied!`;
            } else if (err.code == 2) {
                alert("Error: Position is unavailable!");
                button.innerText = `Error: Position is unavailable!`
            }
        }



        function UpdateLocation() {

            $.ajax({ //MAKES AN AJAX REQUEST
                url: "/UpdateLocation", //TO "/UpdateLocation"
                type: "POST", 
                data: { lat: latitude, long: longitude, acc: accuracy },

            });

            
            loopUpdateLocation = window.setTimeout(UpdateLocation, 2000); //new coordiantes every 2sec

        }






    </script>







</body>