@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#EFBC03 33% , #2E6830 66% , #C21B1B 100% );
}
::selection{
  color: #fff;
  background: #5372F0;
}
#button1{
  border: none;
  outline: none;
  font-size: 40px;
  color: #fff;
  padding: 23px 44px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  background: #403F3C;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}
#trackingButton{

  border: none;
  outline: none;
  position:absolute;
  margin-top: -13%;
  margin-left: 6%;
  font-size: 50px;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  background: #403F3C;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);

}

#previousPathButton{
  border: none;
  outline: none;
  position:absolute;
  margin-top:13%;
  margin-left:-6%;
  font-size: 50px;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  background: #403F3C;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}
