{% extends "index/index2.html" %}

{% block Forms %}

<div class="container mx-auto">
    <h1 class="p-3 border-top border-bottom text-white bg-dark">OpenParkingMadrid</h1>
    <h5 class="border-bottom"></h5>
    <br>
</div>


<div class="container mx-auto row mb-5 mt-2">
    <div class="col">

        <div class="container">
            <div class="row mb-3">
                <h5>Filter by:</h5>
                <div class="col">
                    <label>District</label>
                    <select id="filterdistrict" class="form-select bg-dark text-light selectpicker" name="district">
                        <option selected value="0"> Select </option>
                        <option value="01">CENTRO</option>
                        <option value="02">ARGANZUELA</option>
                        <option value="03">RETIRO</option>
                        <option value="04">SALAMANCA</option>
                        <option value="05">CHAMARTÍN</option>
                        <option value="06">TETUÁN</option>
                        <option value="07">CHAMBERÍ</option>
                        <option value="08">FUENCARRAL-EL PARDO</option>
                        <option value="09">MONCLOA-ARAVACA</option>
                        <option value="10">LATINA</option>
                        <option value="11">CARABANCHEL</option>
                        <option value="15">CIUDAD LINEAL</option>

                    </select>
                </div>
                <div class="col">
                    <label>Number</label>
                    <select id="filterlimit" class="form-select bg-dark text-light selectpicker" name="limit">
                        <option selected value="0"> Select </option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="10">100</option>


                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button id='search' class="btn btn-secondary btn-light-outline-success"
                        type="button">Search</button>
                </div>
                <div class="col">
                    <button id='helio' class="btn btn-secondary btn-light-outline-success"
                        type="button">Helio</button>
                </div>
            </div>


        </div>


        <br>
        <div id="map"></div>

    </div>




    {% endblock %}

    {% block Script %}

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <script type="module">

        var latitude, longitude;
        var map, layer, markerLayer;
        var latlon;
        var query=0;

        // import {toLatLon} from "{{ url_for('static', filename='js/index.js') }}";

        var search = document.getElementById('search');
        var helio = document.getElementById('helio');
        console.log(helio)
        helio.addEventListener("click", ()=>{
            console.log(query)
            if(query==0){
                window.open("http://localhost:4000");
            }
            else{
                window.open(query);
            }
            
        });
        search.addEventListener("click", () => {
            var filterdistrict = document.getElementById("filterdistrict").value
            var filterlimit = document.getElementById("filterlimit").value

            if (filterdistrict != '0' && filterlimit == '0') {
                query = "http://localhost:4000/sparql?query=PREFIX%20rdf%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0APREFIX%20rdfs%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0APREFIX%20ns1%3A%20%3Chttp%3A%2F%2Fwww.group10.org%2Fpl%2Fontology%2FParkingLotsMadrid%23%3E%0A%0A%0ASELECT%20%3Fpmeter%20%3Flatitude%20%3Flongitude%20WHERE%20%7B%20%0A%20%20%20%20%3Fpmeter%20a%20ns1%3AParkingMeter.%20%0A%20%20%20%20%3Fpmeter%20ns1%3AhasLocation%20%3Flocation.%0A%20%20%20%20%3Flocation%20ns1%3AhasLongitude%20%3Flongitude.%0A%20%20%20%20%3Flocation%20ns1%3AhasLatitude%20%3Flatitude%20.%0A%20%20%20%20%3Fpmeter%20ns1%3AhasDistrict%20%3Chttp%3A%2F%2Fwww.group10.org%2Fpl%2Fresource%2FDistrict%2FDdistrictnumber%3E%0A%7D%20".replace("districtnumber", filterdistrict);

            } else if (filterdistrict == '0' && filterlimit != '0') {
                query = 'http://localhost:4000/sparql?query=PREFIX%20rdf%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0APREFIX%20rdfs%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0APREFIX%20ns1%3A%20%3Chttp%3A%2F%2Fwww.group10.org%2Fpl%2Fontology%2FParkingLotsMadrid%23%3E%0A%0A%0ASELECT%20%3Fpmeter%20%3Flatitude%20%3Flongitude%20WHERE%20%7B%20%0A%20%20%20%20%3Fpmeter%20a%20ns1%3AParkingMeter.%20%0A%20%20%20%20%3Fpmeter%20ns1%3AhasLocation%20%3Flocation.%0A%20%20%20%20%3Flocation%20ns1%3AhasLongitude%20%3Flongitude.%0A%20%20%20%20%3Flocation%20ns1%3AhasLatitude%20%3Flatitude%20%0A%7D%20LIMIT%20limnumber'.replace("limnumber", filterlimit);

            } else if (filterdistrict != '0' && filterlimit != '0') {
                query = "http://localhost:4000/sparql?query=PREFIX%20rdf%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0APREFIX%20rdfs%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0APREFIX%20ns1%3A%20%3Chttp%3A%2F%2Fwww.group10.org%2Fpl%2Fontology%2FParkingLotsMadrid%23%3E%0A%0A%0ASELECT%20%3Fpmeter%20%3Flatitude%20%3Flongitude%20WHERE%20%7B%20%0A%20%20%20%20%3Fpmeter%20a%20ns1%3AParkingMeter.%20%0A%20%20%20%20%3Fpmeter%20ns1%3AhasLocation%20%3Flocation.%0A%20%20%20%20%3Flocation%20ns1%3AhasLongitude%20%3Flongitude.%0A%20%20%20%20%3Flocation%20ns1%3AhasLatitude%20%3Flatitude%20.%0A%20%20%20%20%3Fpmeter%20ns1%3AhasDistrict%20%3Chttp%3A%2F%2Fwww.group10.org%2Fpl%2Fresource%2FDistrict%2FDdistrictnumber%3E%0A%7D%20LIMIT%20limnumber".replace("districtnumber", filterdistrict).replace("limnumber", filterlimit);
            } else if (filterdistrict == '0' && filterlimit == '0') {
                query = "http://localhost:4000/sparql?query=PREFIX%20rdf%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%3E%0APREFIX%20rdfs%3A%20%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0APREFIX%20ns1%3A%20%3Chttp%3A%2F%2Fwww.group10.org%2Fpl%2Fontology%2FParkingLotsMadrid%23%3E%0A%0A%0ASELECT%20%3Fpmeter%20%3Flatitude%20%3Flongitude%20WHERE%20%7B%20%0A%20%20%20%20%3Fpmeter%20a%20ns1%3AParkingMeter.%20%0A%20%20%20%20%3Fpmeter%20ns1%3AhasLocation%20%3Flocation.%0A%20%20%20%20%3Flocation%20ns1%3AhasLongitude%20%3Flongitude.%0A%20%20%20%20%3Flocation%20ns1%3AhasLatitude%20%3Flatitude%20.%0A%7D%20";
            }
        
       

            console.log(query)
            $.ajax({
                url: query,
                type: "GET",
                dataType: 'json',

            }).done(function (data) {

                var result = data['results']['bindings']

                if (map != undefined) {
                    map = map.remove();
                }
                drawmap(result);

            });



        });



        map = L.map('map').setView([40.41606370407077, -3.7064964857770835], 15);
        layer = L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=IWiZp7L76Kmhtju5zNNZ', {
            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
        });
        layer.addTo(map);
        markerLayer = L.layerGroup().addTo(map);


        function waypoints(result) {

            for (let i = 0; i < result.length; i++) {
                latitude = Number(result[i]['latitude'].value)
                longitude = Number(result[i]['longitude'].value)
                latlon = toLatLon(longitude, latitude, 30, 'T')
                console.log(latlon);


                L.marker([latlon.latitude, latlon.longitude]).addTo(markerLayer);
            }

        }

        function drawmap(result) {
            latitude = Number(result[0]['latitude'].value)
            longitude = Number(result[0]['longitude'].value)

            latlon = toLatLon(longitude, latitude, 30, 'T')
            console.log(latlon);

            map = L.map('map').setView([latlon.latitude, latlon.longitude], 15);
            layer = L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=IWiZp7L76Kmhtju5zNNZ', {
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
            });
            layer.addTo(map);
            markerLayer = L.layerGroup().addTo(map);

            waypoints(result);

        }

        function showLocation(position) {

            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
            console.log(latitude, longitude)
            //now that we have the coordiantes we can create the map, but it can't be created multiple
            //times, otherwise we will get an error 
            //we must set some initial coordinates, the zoom and the layer
            //this layer links corresponds to the map that we are using, but there are many others in https://leafletjs.com/ 
            if (map == undefined) {

                map = L.map('map').setView([latitude, longitude], 17);
                var layer = L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=IWiZp7L76Kmhtju5zNNZ', {
                    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                });
                layer.addTo(map);


            }
            //the initial marker will be added
            // var mark = L.marker([latitude, longitude]).addTo(map);


        }

        function errorHandler(err) {
            if (err.code == 1) {
                alert("Error: Access is denied!");
                button.innerText = `Error: Access is denied!`;
            } else if (err.code == 2) {
                alert("Error: Position is unavailable!");
                button.innerText = `Error: Position is unavailable!`
            }
        }

        function GPS() {
            //first, we will check if your browser supports geolocation. Then, if everything its okay
            //we must define another two functions, one to take the coordinates and another to handle the errors
            if (navigator.geolocation) {

                navigator.geolocation.getCurrentPosition(showLocation, errorHandler);



            }
            else {
                alert("Your browser not support");

            }

            //we will repate this process every 0.2 seconds
            //window.setTimeout(GPS, 200);
        }

    </script>



    {% endblock %}

    <!--

<form action="/upload" method="POST" enctype="multipart/form-data" class="mx-auto">


            <div class="mb-3 my-5">
                <label>Filters</label>
                <select class="form-select bg-dark text-light my-5 selectpicker" name="origin">
                    <option selected value="0"> District </option>
                    <option value="1">Moncloa</option>
                    <option value="2">Latina</option>
                    <option value="3">Chamberí</option>
                    <option value="4">Centro</option>
                </select>
            </div>

            <div class="mb-3 my-5">
                <button type="submit" class="btn btn-dark fs-6">Set</button>
            </div>

        </form>
    </div>

-->