{% extends "index/index2.html" %}

{% block Forms %}

<div class="container mx-auto">
    <h1 class="p-3 border-top border-bottom text-white bg-dark">ParkAPP</h1>
    <h5 class="border-bottom"></h5>
    <br>
</div>


<div class="container mx-auto row mb-5 mt-2">
    <div class="col">



        <form action="/" method="POST" enctype="multipart/form-data" class="d-flex">
            
            <div class="container">
                <div class="row mb-3">
                    <h5>Filter by:</h5>
                    <div class="col">
                        <label>District</label>
                        <select class="form-select bg-dark text-light selectpicker" name="origin">
                            <option selected value="0"> Select </option>
                            <option value="1">Moncloa</option>
                            <option value="2">Latina</option>
                            <option value="3">Chamberí</option>
                            <option value="4">Centro</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Distance</label>
                        <select class="form-select bg-dark text-light selectpicker" name="origin">
                            <option selected value="0"> Select </option>
                            <option value="1">1km</option>
                            <option value="2">3km</option>
                            <option value="3">6km</option>
                            <option value="4">12km</option>
                        </select>
                    </div>
                    <div class="col">
                        <label>Color</label>
                        <select class="form-select bg-dark text-light selectpicker" name="origin">
                            <option selected value="0"> Select </option>
                            <option value="1">Blue</option>
                            <option value="2">Red</option>
                            <option value="3">Green</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input class="form-control me-2" type="search" placeholder="Find a Parking Meter" aria-label="Search">
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary btn-light-outline-success" type="button">Search</button>
                    </div>
                </div>
                
                
            </div>

        </form>
        <br>
        <div id="map"></div>

    </div>



    {% endblock %}

    {% block Script %}

    <script type="module">

        var latitude, longitude, map;
        GPS();
        //this function creates the map
        function set_map() {

            map = L.map('map').setView([54.9058396, 23.963971], 15);
            layer = L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=IWiZp7L76Kmhtju5zNNZ', {
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
            });
            layer.addTo(map);
            //routing object
            route = L.Routing.control({
            }).addTo(map);

        }

        function showLocation(position) {

            latitude = position.coords.latitude;
            longitude = position.coords.longitude;

            console.log(latitude, " , ", longitude);

            //now that we have the coordiantes we can create the map, but it can't be created multiple
            //times, otherwise we will get an error 
            //we must set some initial coordinates, the zoom and the layer
            //this layer links corresponds to the map that we are using, but there are many others in https://leafletjs.com/ 
            if (map == undefined) {
                map = L.map('map').setView([latitude, longitude], 17);
                var layer = L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=IWiZp7L76Kmhtju5zNNZ', {
                    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                });
                layer.addTo(map);
            }
            //the initial marker will be added
            var mark = L.marker([latitude, longitude]).addTo(map);


        }

        function errorHandler(err) {
            if (err.code == 1) {
                alert("Error: Access is denied!");
                button.innerText = `Error: Access is denied!`;
            } else if (err.code == 2) {
                alert("Error: Position is unavailable!");
                button.innerText = `Error: Position is unavailable!`
            }
        }

        function GPS() {
            //first, we will check if your browser supports geolocation. Then, if everything its okay
            //we must define another two functions, one to take the coordinates and another to handle the errors
            if (navigator.geolocation) {

                navigator.geolocation.getCurrentPosition(showLocation, errorHandler);



            }
            else {
                alert("Your browser not support");

            }

            //we will repate this process every 0.2 seconds
            //window.setTimeout(GPS, 200);
        }

    </script>



    {% endblock %}

    <!--

<form action="/upload" method="POST" enctype="multipart/form-data" class="mx-auto">


            <div class="mb-3 my-5">
                <label>Filters</label>
                <select class="form-select bg-dark text-light my-5 selectpicker" name="origin">
                    <option selected value="0"> District </option>
                    <option value="1">Moncloa</option>
                    <option value="2">Latina</option>
                    <option value="3">Chamberí</option>
                    <option value="4">Centro</option>
                </select>
            </div>

            <div class="mb-3 my-5">
                <button type="submit" class="btn btn-dark fs-6">Set</button>
            </div>

        </form>
    </div>

-->